In [1]:
len("kish")

4

In [2]:
print("kishanlal")

kishanlal

In [3]:
def test():
    pass

In [4]:
def test1():
    print("This is my first function")

In [5]:
test1()

This is my first function

In [6]:
a = test1()

This is my first function

In [7]:
a + "kish"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
type(test1())

This is my first function

NoneType

In [9]:
str(a)

'None'

In [10]:
def test2():
    return "This is my second function"

In [11]:
test2()

'This is my second function'

In [12]:
type(test2())

str

In [13]:
test2() + "kish"

'This is my second functionkish'

In [14]:
def test3():
    return 123456

In [15]:
test3()

123456

In [16]:
type(test3())

int

In [17]:
def test4():
    return 4,3,"kish",[1,2,3,4,5]

In [18]:
test4()

(4, 3, 'kish', [1, 2, 3, 4, 5])

In [19]:
type(test4())

tuple

In [20]:
b = test4()

In [21]:
b

(4, 3, 'kish', [1, 2, 3, 4, 5])

In [22]:
b[1]

3

In [23]:
b[3]

[1, 2, 3, 4, 5]

In [24]:
x,y,u,v = test4()

In [25]:
x

4

In [26]:
y

3

In [27]:
u

'kish'

In [28]:
v

[1, 2, 3, 4, 5]

In [29]:
def test5():
    a = 6*7/6
    return a

In [30]:
test5()

7.0

In [31]:
l = [3,4,5,6,7,7,"kish",[1,3,4,54,56]]

In [32]:
def test6(a):
    if type(a) == list:
        l1=[]
        for i in a:
            if type(i)==int:
                l1.append(i)
    else:
        return "This is not a list"
    return l1

In [33]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [34]:
test6(a)

'This is not a list'

In [35]:
def test7(c):
    if type(c)==dict:
        return c.keys()
    else:
        return "You have not passed dict"

In [36]:
test7({"a":1,2:"v"})

dict_keys(['a', 2])

In [37]:
def test9(a,b):
    if type(a)==list and type(b)== list:
        a.extend(b)
        return a
    else:
        return "either of your data is not a list"

In [38]:
test9(2415)

TypeError: test9() missing 1 required positional argument: 'b'

In [39]:
test9(245,"kish")

'either of your data is not a list'

In [40]:
test9([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [41]:
def pattern1(rows):
    """function to create a triangle pattern using asterik
       you can give input as int"""
    for i in range(0,rows):
        for j in range(0,i+1):
            print("*", end=" ")
        print("\r")

In [42]:
pattern1(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [43]:
help(pattern1)

Help on function pattern1 in module __main__:

pattern1(rows)
    function to create a triangle pattern using asterik
    you can give input as int

In [44]:
def length1(str1):
    count = 0
    for i in str1:
        count = count+1
    return count

In [45]:
length1("kishan")

6

In [46]:
def index_print(l):
    l1=[]
    for i in l:
        a = "Index of " + str(i) + " is " + str(l.index(i))
        l1.append(a)
    return l1

In [47]:
index_print([5,6,7,6,"a","nh","j"])

['Index of 5 is 0',
 'Index of 6 is 1',
 'Index of 7 is 2',
 'Index of 6 is 1',
 'Index of a is 4',
 'Index of nh is 5',
 'Index of j is 6']

In [48]:
def extract_dict(d):
    l1=[]
    def recurse(inner_dict):
        for i in inner_dict.values():
            if isinstance(i, dict):
                recurse(i)
            else:
                l1.append(i)
    recurse(d)
    return l1

In [49]:
d ={'kish': 1, 'lal':2, 'a':{'g': 3, 'h':4, 'j':{'k':5,'l':6,'m':{'n':7,'o':8}}}}

In [50]:
extract_dict(d)

[1, 2, 3, 4, 5, 6, 7, 8]